<div id="<%= dom_id registration %>">
  <p>
    <strong>Student:</strong>
    <%= registration.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= registration.course_id %>
  </p>

  <p>
    <strong>Registration date:</strong>
    <%= registration.registration_date %>
  </p>

  <p>
    <strong>Is approved:</strong>
    <%= registration.is_approved %>
  </p>

</div>
